* {
    box-sizing: border-box;
    border-spacing: 0;
    margin: 0;
    padding: 0;
}

::before,
::after {
    box-sizing: border-box;
}

//通用屬性@include container();
@mixin container() {
    @media (max-width: 1680px) {
        width: 1336px;
    }

    @media (max-width: 1460px) {
        width: 1136px;
    }

    @media (max-width: 1280px) {
        width: 960px;
    }
}

body {
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #000;
    scroll-behavior: smooth;
}

#all {
    height: 100%;
    display: block;
    margin: 0px;
    padding: 0px;
    font-family: "Segoe UI", "Segoe UI Web (West European)", "Segoe UI", -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: rgb(51, 51, 51);

    #myBtn {
        display: none;
        position: fixed;
        bottom: 20px;
        right: 30px;
        z-index: 99;
        font-size: 18px;
        border: none;
        outline: none;
        background-color: rgb(255, 255, 255);
        color: rgb(0, 0, 0);
        cursor: pointer;
        padding: 15px;
        border-radius: 4px;

        &:hover {
            background-color: #555;

        }
    }


    #navbar {
        width: 100%;
        height: 48px;
        position: absolute;
        top: 0px;
        left: 0px;
        z-index: 10;
        background-color: transparent;

        .navbar_container {
            display: flex;
            justify-content: flex-start;
            width: 1536px;
            margin: 0px auto;
            @include container();

            @media (max-width: 1024px) {
                width: 100%;
                padding: 0px 30px;
            }

            .navbar_logo {
                width: 190px;
                height: 48px;
                display: flex;
                justify-content: flex-start;
                align-items: center;
                flex: 0 0 auto;

                @media (max-width: 1024px) {
                    width: 60px;
                }

                @media (max-width: 670px) {
                    width: 30px;
                }

                a {
                    height: 16px;
                    display: block;
                    margin: 2px 0px 0px;

                    :focus {
                        opacity: 1;
                    }

                    svg {
                        width: 22px;

                        svg:not(:root) {
                            overflow: hidden;
                        }

                        .red,
                        .green,
                        .blue,
                        .yellow {
                            fill: #fff;
                            transition: all 200ms linear 0ms;

                            :not(svg) {
                                transform-origin: 0px 0px;
                            }
                        }
                    }
                }
            }
        }

        .navbar_title {
            height: 48px;
            width: auto;
            align-content: center;
            flex: 0 0 auto;

            h1 {
                color: #fff;
                font-size: 16px;
                font-weight: 600;
                line-height: 49px;

                a {
                    color: #fff;
                    text-decoration: none;
                    transition: color 200ms linear 0ms;
                }
            }
        }

        .navbar_menu {
            height: 48px;
            flex: 1 1 auto;
            padding: 0 120px 0 420px;

            @media (max-width: 1460px) {
                padding: 0 60px 0 120px;
            }

            @media (max-width: 1024px) {
                padding: 0 0 0 120px;
            }

            @media (max-width: 767px) {
                display: none;
            }

            ul {
                width: 100%;
                display: flex;
                -webkit-box-pack: justify;
                justify-content: space-between;
                margin: 0px;
                padding: 0px;
                list-style: none;

                li {
                    width: auto;
                    color: #fff;
                    font-size: 16px;
                    line-height: 49px;
                    font-weight: 600;
                    margin: 0px;
                    padding: 0px;

                    a {
                        color: #fff;
                        text-decoration: none;
                        transition: all 200ms linear 0ms;
                    }
                }
            }
        }

        .navbar_burger {
            display: none;
            width: 48px;
            height: 48px;
            position: absolute;
            z-index: 100;
            top: 0px;
            right: 10px;
            background-color: transparent;
            border: 0;
            cursor: pointer;

            @media (max-width: 767px) {
                display: flex;
            }

            .burger_line {
                width: 50%;
                height: 2px;
                background-color: white;
                position: absolute;
                right: 10px;
                top: 35%;

                &.burger_2 {
                    top: 50%;
                }

                &.burger_3 {
                    top: 65%;
                }

                &.navbar_burger_1a {
                    animation-name: navbar_burger_1a;
                    animation-duration: 1s;
                    animation-fill-mode: forwards;

                    @keyframes navbar_burger_1a {
                        0% {
                            top: 35%;
                        }

                        30% {
                            top: 50%;
                            transform: rotate(0);
                        }

                        100% {
                            top: 50%;
                            transform: rotate(45deg);
                        }
                    }
                }

                &.navbar_burger_2a {
                    animation-name: navbar_burger_2a;
                    animation-duration: 1s;
                    animation-fill-mode: forwards;

                    @keyframes navbar_burger_2a {
                        0% {
                            top: 50%;
                        }

                        50% {
                            top: 50%;
                            opacity: 0;
                        }

                        100% {
                            top: 50%;
                            opacity: 0;
                        }
                    }
                }

                &.navbar_burger_3a {
                    animation-name: navbar_burger_3a;
                    animation-duration: 1s;
                    animation-fill-mode: forwards;

                    @keyframes navbar_burger_3a {
                        0% {
                            top: 65%;
                        }

                        30% {
                            top: 50%;
                            transform: rotate(0);
                        }

                        100% {
                            top: 50%;
                            transform: rotate(-45deg);
                        }
                    }
                }

            }

        }

        .navbar_burger_menu {
            position: fixed;
            top: 48px;
            left: 0px;
            height: calc(100vh - 48px);
            width: 100%;
            background-color: rgb(0, 0, 0);
            z-index: 10;
            transform: translateY(20px);
            transition: all 300ms ease 300ms;
            opacity: 0;
            pointer-events: none;

            &.burger_menu_2 {
                opacity: 1;
                pointer-events: all;
                transform: translateY(0px);
            }

            ul {
                margin-block-start: 1em;
                margin-block-end: 1em;
                margin-inline-start: 0px;
                margin-inline-end: 0px;
                padding-inline-start: 40px;

                &.burger_menu_ul {
                    width: 100%;
                    margin: 0px;
                    padding: 0px;
                    list-style: none;
                }

                li {
                    display: list-item;

                    a {
                        color: #fff;
                        position: relative;
                        display: block;
                        text-decoration: none;
                        padding: 25px 30px;
                    }

                    &.burger_menu_li {
                        width: 100%;
                        font-size: 20px;
                        opacity: 1;
                        transform: translateY(40px);
                        padding: 0px;
                        margin: 0px;
                        transition: all 300ms ease 0ms;
                    }
                }
            }
        }
    }

    #main {
        width: 100%;
        position: relative;
        overflow-x: hidden;
        margin: 48px 0px 0px;


        // section_1
        .section_1 {
            width: 100%;
            margin: 145px 0px 60px;

            @media (max-width: 670px) {
                margin: 0px 0px 30px;
            }

            .section_1_container {
                display: flex;
                width: 1536px;
                margin: 0px auto;
                @include container();

                @media (max-width: 1024px) {
                    width: 100%;
                    padding: 30px;
                }

                @media (max-width: 960px) {
                    padding: 0 30px;
                }

                .section_1_text {
                    width: 410px;
                    flex: 0 0 auto;

                    @media (max-width: 1280px) {
                        width: 50%;
                    }

                    @media (max-width: 960px) {
                        width: 60%;
                    }

                    @media (max-width: 670px) {
                        width: 100%;
                    }

                    .section_1_text_h2 {
                        width: 100%;

                        @media (max-width: 670px) {
                            margin: 60px 0px 30px;
                        }

                        h2 {
                            font-size: 64px;
                            line-height: 80px;
                            color: rgb(79, 229, 255);
                            font-weight: 600;
                            margin: 0px 0px 0px -6px;

                            @media (max-width: 767px) {
                                font-size: 48px;
                                line-height: 60px;
                            }

                            @media (max-width: 670px) {
                                font-size: 48px;
                                line-height: 58px;
                            }
                        }
                    }

                    .section_1_text_2 {
                        width: 100%;
                        margin: 100px 0px 30px;

                        @media (max-width: 767px) {
                            margin: 60px 0px 30px;
                        }

                        .section_1_text_p {
                            width: 100%;
                            max-width: 352px;

                            @media (max-width: 1460px) {
                                max-width: 384px;
                            }

                            @media (max-width: 960px) {
                                width: 100%;
                                max-width: 352px;
                            }

                            .text_p {
                                color: #fff;
                                font-size: 16px;
                                line-height: 24px;
                                font-weight: 600;
                                margin: 0 0 24px;
                            }
                        }
                    }
                }

                .section_1_img {
                    text-align: center;
                    position: relative;
                    flex: 1 1 auto;

                    @media (max-width: 1280px) {
                        width: 50%;
                        padding: 0px 40px;
                    }

                    @media (max-width: 960px) {
                        width: 40%;
                        padding: 0 0 0 30px;
                    }

                    @media (max-width: 670px) {
                        display: none;
                    }

                    .img_top,
                    .img_bottom {
                        position: absolute;
                        pointer-events: none;

                        @media (max-width: 1280px) {
                            display: none;
                        }
                    }

                    .img_top {
                        top: -15px;
                        right: 180px;

                        @media (max-width: 1680px) {
                            top: -40px;
                            right: 36px;
                        }

                        @media (max-width: 1460px) {
                            top: 15px;
                            right: 36px;
                        }
                    }



                    .img_bottom {
                        bottom: 155px;
                        left: 180px;

                        @media (max-width: 1680px) {
                            bottom: 160px;
                            left: 30px;
                        }

                        @media (max-width: 1460px) {
                            bottom: 120px;
                            left: 30px;
                        }
                    }

                    .img_mid {
                        @media (max-width: 1280px) {
                            max-width: 100%;
                        }
                    }
                }
            }
        }

        // section_2
        .section_2 {
            width: 100%;
            position: relative;

            .section_2_container {
                display: flex;
                flex-wrap: wrap;
                width: 1536px;
                margin: 0px auto;

                @include container();

                @media (max-width: 1024px) {
                    width: 100%;
                    padding: 0px;
                }

                .section_2_ul {
                    width: 100%;
                    display: flex;
                    position: relative;
                    list-style-type: none;

                    @media (max-width: 1024px) {
                        flex-wrap: wrap;
                    }

                    .section_2_li {
                        width: 25%;
                        height: 384px;
                        position: relative;
                        z-index: 2;

                        @media (max-width: 1024px) {
                            width: 50%;
                            height: 320px;
                        }

                        @media (max-width: 767px) {
                            width: 100%;
                        }

                        @media (max-width: 500px) {
                            height: auto;
                        }

                        a {
                            width: 100%;
                            height: 100%;
                            display: flex;
                            flex-direction: column;
                            text-decoration: none;

                            .li_icon {
                                min-height: 96px;
                                width: 100%;
                                text-align: left;
                                flex: 1 1 auto;
                                padding: 26px;

                                @media (max-width: 1024px) {
                                    padding: 30px 30px 16px;
                                }

                                img {
                                    max-width: 100%;
                                    max-height: 100%;
                                }
                            }

                            .li_title {
                                height: 100px;
                                width: 100%;
                                flex: 0 0 auto;
                                padding: 0px 26px;

                                @media (max-width: 1460px) {
                                    height: 180px;
                                }

                                @media (max-width: 1024px) {
                                    height: auto;
                                    padding: 0px 30px;
                                }

                                h2 {
                                    color: rgb(0, 0, 0);
                                    font-size: 32px;
                                    letter-spacing: -0.03rem;
                                    line-height: 40px;
                                    font-weight: 600;
                                    margin: 0px 0px 26px;
                                }

                                p {
                                    color: rgb(0, 0, 0);
                                    font-size: 16px;
                                    line-height: 20px;
                                    font-weight: 600;
                                    margin: 0px;
                                }
                            }

                            .li_src {
                                height: 48px;
                                width: 100%;
                                text-align: left;
                                display: flex;
                                -webkit-box-align: center;
                                align-items: center;
                                flex: 0 0 auto;
                                padding: 0px 26px 10px;

                                @media (max-width: 1280px) {
                                    padding: 0px 30px;
                                }

                                img {
                                    margin: 0px 16px 0px 0px;
                                }

                                span {
                                    font-size: 16px;
                                    font-family: "Segoe UI Mono", mono;
                                    letter-spacing: 0.01rem;
                                    color: #000;

                                    @media (max-width: 1280px) {
                                        font-size: 14px;
                                    }
                                }
                            }
                        }
                    }

                }

                .section_2_ul .section_2_li:nth-child(1) a {
                    background-color: rgb(37, 142, 222);

                    &:hover {
                        background-color: rgb(12, 117, 197);
                    }
                }

                .section_2_ul .section_2_li:nth-child(2) a {
                    background-color: rgb(79, 229, 255);

                    &:hover {
                        background-color: rgb(54, 204, 230);
                        ;
                    }
                }

                .section_2_ul .section_2_li:nth-child(3) a {
                    background-color: rgb(207, 143, 255);

                    &:hover {
                        background-color: rgb(182, 118, 230);
                    }
                }

                .section_2_ul .section_2_li:nth-child(4) a {
                    background-color: rgb(105, 229, 110);

                    &:hover {
                        background-color: rgb(80, 204, 85);
                    }
                }
            }
        }

        .section_2::before {
            content: "";
            width: 50vw;
            height: 100%;
            position: absolute;
            top: 0px;
            left: 0px;
            z-index: 1;
            background-color: rgb(34, 128, 200);
        }

        .section_2::after {
            content: "";
            width: 50vw;
            height: 100%;
            position: absolute;
            top: 0px;
            right: 0px;
            z-index: 1;
            background-color: rgb(95, 207, 99);
        }

        // section_3
        .section_3 {
            width: 100%;
            min-height: 768px;
            background: url('../images/msft-verge-fluent.jpg') 50% center / cover no-repeat fixed rgb(204, 204, 204);

            @media (max-width: 1280px) {
                min-height: 668px;
            }

            @media (max-width: 960px) {
                background-attachment: scroll;
            }

            @media (max-width: 670px) {
                min-height: 768px;
            }

            .section_3_container {
                width: 1536px;
                margin: 0px auto;

                @include container();

                @media (max-width: 960px) {
                    width: 100%;
                    padding: 0px 30px;
                }

                .section_3_text_title {
                    width: 100%;
                    opacity: 0;
                    transform: translateY(20px);
                    padding: 10px 20px 0px;
                    transition: opacity 600ms linear 0ms, transform 600ms linear 0ms;

                    @media (max-width: 1460px) {
                        padding: 10px 0px 0px 16px;
                    }

                    @media (max-width: 1280px) {
                        padding: 20px 0px 60px;
                    }

                    @media (max-width: 1024px) {
                        padding: 29px 0px 40px;
                    }

                    &.visible {
                        opacity: 1;
                        transform: translateY(0px);
                    }

                    h2 {
                        color: rgb(0, 0, 0);
                        font-size: 128px;
                        line-height: 150px;
                        font-weight: 600;

                        @media (max-width: 1460px) {
                            font-size: 96px;
                            line-height: 120px;
                        }

                        @media (max-width: 1024px) {
                            font-size: 86px;
                            line-height: 90px;
                            margin: 0px;
                        }

                        @media (max-width: 670px) {
                            font-size: 64px;
                            line-height: 70px;
                        }

                        @media (max-width: 500px) {
                            font-size: 48px;
                            line-height: 60px;
                        }
                    }
                }

                .section_3_text_main {
                    width: 100%;
                    opacity: 0;
                    transform: translateY(20px);
                    margin: 60px 0px 0px;
                    transition: opacity 600ms linear 0ms, transform 600ms linear 0ms;

                    @media (max-width: 1460px) {
                        margin: 40px 0px 0px;
                    }

                    @media (max-width: 1280px) {
                        margin: 0px;
                    }

                    .text_main_p {
                        width: 100%;
                        max-width: 384px;
                        padding: 0px 16px 0px 24px;

                        @media (max-width: 1280px) {
                            margin: 0px;
                            padding: 0px 5px;
                        }

                        @media (max-width: 1024px) {
                            padding: 0px 0px 0px 4px;
                        }

                        @media (max-width: 500px) {
                            padding: 0px 0px 0px 4px;
                        }

                        p {
                            color: rgb(0, 0, 0);
                            font-size: 16px;
                            line-height: 24px;
                            font-weight: 600;
                            margin: 0px;
                        }
                    }


                    &.visible {
                        opacity: 1;
                        transform: translateY(0px);
                    }
                }
            }

        }

        // section_4
        .section_4 {
            width: 100%;
            background-color: rgb(25, 25, 25);

            .section_4_container {
                position: relative;
                width: 1536px;
                margin: 0px auto;

                @include container();

                @media (max-width: 960px) {
                    width: 100%;
                    padding: 0px 30px;
                }

                .section_4_odiv {
                    position: absolute;
                    top: -200px;
                    right: 130px;
                    pointer-events: none;
                    z-index: 4;
                    transform: translateY(20px);
                    opacity: 0;
                    transition: opacity 600ms linear 0ms, transform 600ms linear 0ms;

                    &.visible {
                        opacity: 1;
                        transform: translateY(0px);
                    }

                    @media (max-width: 1680px) {
                        right: 30px;
                    }

                    @media (max-width: 1460px) {
                        top: -200px;
                    }

                    @media (max-width: 767px) {
                        top: -300px;
                        right: 100px;
                    }

                    @media (max-width: 670px) {
                        display: none;
                    }
                }

                .section_4_oline {
                    position: absolute;
                    top: 570px;
                    left: 190px;
                    pointer-events: none;
                    transform: translateY(400px);
                    transition: transform 600ms linear 0ms;

                    &.visible {
                        transform: translateY(0px);
                    }

                    @media (max-width: 670px) {
                        left: 90vw;
                    }
                }

                .section_4_ball {
                    width: 100%;
                    display: flex;
                    -webkit-box-pack: center;
                    justify-content: center;
                    -webkit-box-align: center;
                    align-items: center;
                    opacity: 0;
                    transform: scale(0.8);
                    transition: opacity 600ms linear 0ms, transform 600ms linear 0ms;

                    &.visible {
                        opacity: 1;
                        transform: scale(1);
                    }

                    @media (max-width: 6770px) {
                        padding: 60px 30px;
                    }

                    img {
                        max-width: 100%;
                    }
                }

            }
        }

        // section_text
        .section_text {
            width: 100%;
            background-color: rgb(25, 25, 25);

            .section_text_container {
                position: relative;
                display: flex;
                -webkit-box-pack: end;
                justify-content: flex-end;
                width: 1536px;
                margin: 0px auto;

                @include container();

                @media (max-width: 960px) {
                    width: 100%;
                    padding: 0px 30px;
                }

                .section_text_p {
                    width: 384px;
                    margin: 0px 0px 50px;
                    padding: 0px 16px;

                    @media (max-width: 960px) {
                        padding: 0px;
                    }

                    p {
                        color: #fff;
                        font-size: 16px;
                        line-height: 24px;
                        font-weight: 600;
                        margin: 0px;
                    }
                }
            }
        }

        // section_5 //以下特效未做
        .section_5 {
            width: 100%;
            position: relative;
            background-color: rgb(25, 25, 25);

            .section_5_text {
                position: absolute;
                bottom: 80px;
                left: 0px;
                width: 100%;
                z-index: 4;

                @media (max-width: 1024px) {
                    bottom: 60px;
                }

                .section_5_container {
                    width: 1536px;
                    margin: 0px auto;

                    @include container();

                    @media (max-width: 960px) {
                        width: 100%;
                        padding: 0px 30px;
                    }

                    h2 {
                        color: rgb(25, 25, 25);
                        font-size: 128px;
                        line-height: 144px;
                        font-weight: 600;
                        margin: 0px 0px 0px 26px;

                        @media (max-width: 1680px) {
                            font-size: 96px;
                            line-height: 128px;
                        }

                        @media (max-width: 1280px) {
                            font-size: 96px;
                            line-height: 104px;
                        }

                        @media (max-width: 1024px) {
                            font-size: 86px;
                            line-height: 90px;
                            margin: 0px;
                        }

                        @media (max-width: 670px) {
                            font-size: 64px;
                            line-height: 70px;
                        }

                        @media (max-width: 500px) {
                            font-size: 48px;
                            line-height: 60px;
                        }
                    }
                }
            }

            .section_5_noname {
                .noname_img {
                    width: 100%;
                    // transform: matrix(1.2, 0, 0, 1.2, 0, 100);
                    opacity: 0;
                    display: flex;
                    -webkit-box-pack: center;
                    justify-content: center;
                    object-fit: contain;
                    overflow: hidden;

                    img {
                        width: 100%;
                        min-width: 2000px;
                        position: relative;
                        align-self: center;
                    }
                }
            }
        }

        // section_6
        .section_6 {
            position: relative;
            top: 0px;
            z-index: 2;
            width: 100%;
            min-height: 948px;
            background: url('../images/clouds.jpg') 50% center / cover no-repeat fixed rgb(0, 0, 0);

            @media (max-width: 1280px) {
                min-height: 668px;
            }

            @media (max-width: 960px) {
                background-attachment: scroll;
            }

            .section_6_container {
                position: relative;
                display: flex;
                height: 100%;
                width: 1536px;
                margin: 0px auto;

                @include container();

                @media (max-width: 960px) {
                    width: 100%;
                    padding: 0px 30px;
                }

                .section_6_img {
                    position: absolute;
                    top: -240px;
                    right: -260px;
                    width: 768px;

                    @media (max-width: 1460px) {
                        display: none;
                    }

                    .img_in {
                        img {
                            position: absolute;
                            top: -120px;
                            left: 2px;
                            z-index: 2;
                            opacity: 1;
                            // transform: matrix(1, 0, 0, 1, 0, 122);
                        }
                    }

                    img {
                        position: absolute;
                        top: 0px;
                        left: 0px;
                        z-index: 1;
                    }
                }

                h2 {
                    position: absolute;
                    color: rgb(0, 0, 0);
                    font-weight: 600;
                    line-height: 1;
                    font-size: 395px;
                }

                .section_6_h2:nth-child(2) h2 {
                    top: -100px;
                    left: 0px;

                    @media (max-width: 1680px) {
                        top: -40px;
                        font-size: 295px;
                    }

                    @media (max-width: 1460px) {
                        top: -20px;
                        left: 0px;
                    }

                    @media (max-width: 1280px) {
                        font-size: 228px;
                        top: 40px;
                        left: 14px;
                    }

                    @media (max-width: 670px) {
                        font-size: 168px;
                    }

                    @media (max-width: 500px) {
                        font-size: 128px;
                    }

                    @media (max-width: 400px) {
                        font-size: 96px;
                    }
                }

                .section_6_h2:nth-child(3) h2 {
                    top: 140px;
                    right: -30px;

                    @media (max-width: 1680px) {
                        top: 120px;
                        right: -30px;
                        font-size: 295px;
                    }

                    @media (max-width: 1460px) {
                        top: 180px;
                        right: -30px;
                    }

                    @media (max-width: 1280px) {
                        font-size: 228px;
                        top: 220px;
                        right: 10px;
                    }

                    @media (max-width: 670px) {
                        font-size: 168px;
                    }

                    @media (max-width: 500px) {
                        font-size: 128px;
                    }

                    @media (max-width: 400px) {
                        font-size: 96px;
                        top: 160px;
                    }
                }

                .section_6_img_2 {
                    position: absolute;
                    top: 550px;
                    left: 370px;
                    pointer-events: none;
                    opacity: 0;
                    transform: translateY(20px);
                    transition: opacity 600ms linear 0ms, transform 600ms linear 0ms;

                    &.bejwKR.visible {
                        opacity: 1;
                        transform: translateY(0px);
                    }
                }
            }
        }

        // section_7
        .section_7 {
            width: 100%;
            background-color: rgb(204, 204, 204);
            min-height: 820px;
            position: relative;

            @media (max-width: 1280px) {
                min-height: 668px;
            }

            @media (max-width: 670px) {
                min-height: 468px;
            }

            .section_7_container {
                width: 1536px;
                position: relative;
                margin: 0px auto;
                @include container();

                @media (max-width: 1024px) {
                    width: 100%;
                    padding: 0px 30px;
                }

                @media (max-width: 960px) {
                    width: 100%;
                    padding: 0px 30px 40px;
                }

                .section_7_title {
                    width: 100%;
                    padding: 140px 40px 0px 8px;

                    @media (max-width: 1460px) {
                        padding: 60px 40px 0px 8px;
                    }

                    @media (max-width: 1280px) {
                        padding: 29px 0px 0px;
                    }

                    h2 {
                        color: rgb(0, 0, 0);
                        font-size: 128px;
                        line-height: 150px;
                        font-weight: 600;

                        @media (max-width: 1280px) {
                            font-size: 96px;
                            line-height: 104px;
                        }

                        @media (max-width: 1024px) {
                            font-size: 86px;
                            line-height: 90px;
                            margin: 0px;
                        }

                        @media (max-width: 670px) {
                            font-size: 64px;
                            line-height: 70px;
                        }

                        @media (max-width: 500px) {
                            font-size: 48px;
                            line-height: 60px;
                        }
                    }
                }

                .section_7_main {
                    width: 100%;
                    margin: 60px 0px 0px;

                    @media (max-width: 670px) {
                        margin: 40px 0px 0px;
                    }

                    .section_7_main_p {
                        width: 100%;
                        max-width: 384px;
                        padding: 0px 16px;

                        @media (max-width: 1024px) {
                            padding: 0px 0px 0px 4px;
                        }

                        p {
                            color: rgb(0, 0, 0);
                            font-size: 16px;
                            line-height: 24px;
                            font-weight: 600;
                            margin: 0px;
                        }
                    }
                }
            }

            .section_7_img {
                position: absolute;
                top: 200px;
                right: 0px;

                @media (max-width: 1024px) {
                    right: -20vw;
                }

                @media (max-width: 767px) {
                    right: -20vw;
                }

                @media (max-width: 670px) {
                    display: none;
                }

                img {
                    max-width: 1000px;

                    @media (max-width: 1940px) {
                        max-width: 900px;
                    }

                    @media (max-width: 1680px) {
                        max-width: 50vw;
                    }

                    @media (max-width: 1024px) {
                        max-width: 70vw;
                    }

                    @media (max-width: 767px) {
                        max-width: 60vw;
                    }
                }
            }

        }

        // section_8
        .section_8 {
            width: 100%;
            min-height: 768px;
            background: url('../images/space.jpg') 50% center / cover no-repeat fixed;

            @media (max-width: 1280px) {
                min-height: 668px;
            }

            @media (max-width: 960px) {
                background-attachment: scroll;
            }

            @media (max-width: 500px) {
                min-height: 568px;
            }

            .section_8_container {
                position: relative;
                z-index: 2;
                width: 1536px;
                margin: 0px auto;

                @include container();

                @media (max-width: 960px) {
                    width: 100%;
                    padding: 0px 30px;
                }

                .section_8_img_1,
                .section_8_img_2,
                .section_8_img_3,
                .section_8_img_4,
                .section_8_img_5 {
                    position: absolute;
                    pointer-events: none;
                    opacity: 0;
                }

                .section_8_img_1 {
                    top: -95px;
                    left: 340px;
                    transform: translateY(60px);
                    transition: opacity 600ms linear 0ms, transform 600ms linear 0ms;

                    @media (max-width: 1460px) {
                        top: -75px;
                        left: 50%;
                        margin: 0px 0px 0px -215px;
                    }

                    @media (max-width: 500px) {
                        width: 100%;
                        max-width: 50%;
                        left: 30%;
                        margin: 0px;
                    }

                    @media (max-width: 400px) {
                        top: 0px;
                        width: 100%;
                        max-width: 100%;
                        left: 0px;
                        display: flex;
                        -webkit-box-pack: center;
                        justify-content: center;
                        padding: 0px 60px;
                    }

                    img {
                        @media (max-width: 500px) {
                            max-width: 100%;
                        }
                    }

                    &.visible {
                        opacity: 1;
                        transform: translateY(0px);
                    }
                }

                .section_8_img_2 {
                    top: 185px;
                    left: 165px;
                    transform: translateY(20px);
                    transition: opacity 600ms linear 0ms, transform 600ms linear 0ms;

                    @media (max-width: 1460px) {
                        top: 40vh;
                        left: 65px;
                    }

                    @media (max-width: 500px) {
                        display: none;
                    }


                    &.visible {
                        opacity: 1;
                        transform: translateY(0px);
                    }
                }

                .section_8_img_3 {
                    top: -125px;
                    left: 620px;
                    transform: translateY(100px);
                    transition: opacity 600ms linear 0ms, transform 600ms linear 0ms;

                    @media (max-width: 1460px) {
                        top: 80px;
                        left: auto;
                        right: 60px;
                    }

                    @media (max-width: 500px) {
                        display: none;
                    }

                    &.visible {
                        opacity: 1;
                        transform: translateY(0px);
                    }
                }

                .section_8_img_4 {
                    top: 530px;
                    right: 85px;
                    transform: translateY(40px);
                    transition: opacity 600ms linear 0ms, transform 600ms linear 0ms;

                    @media (max-width: 500px) {
                        display: none;
                    }


                    &.visible {
                        opacity: 1;
                        transform: translateY(0px);
                    }
                }

                .section_8_img_5 {
                    top: 370px;
                    right: 220px;
                    transform: translateY(100px);
                    transition: opacity 600ms linear 0ms, transform 600ms linear 0ms;

                    @media (max-width: 1460px) {
                        top: 470px;
                        right: 220px;
                    }

                    @media (max-width: 767px) {
                        display: none;
                    }


                    &.visible {
                        opacity: 1;
                        transform: translateY(-100px);
                    }
                }

            }

        }

        // section_9
        .section_9 {
            position: relative;
            width: 100%;
            z-index: 1;
            margin: 0px 0px 160px;

            @media (max-width: 1460px) {
                position: relative;
                z-index: 1;
            }

            @media (max-width: 1024px) {
                margin: 0px 0px 60px;
            }

            @media (max-width: 960px) {
                margin: 0px;
            }

            .section_9_container {
                position: relative;
                z-index: 2;
                width: 1536px;
                margin: 0px auto;

                @include container();

                @media (max-width: 1024px) {
                    width: 100%;
                }

                .section_9_ul {
                    width: 100%;
                    display: flex;
                    position: relative;
                    list-style-type: none;

                    @media (max-width: 1024px) {
                        flex-wrap: wrap;
                    }

                    .section_9_li {
                        width: 25%;
                        height: 384px;
                        position: relative;
                        z-index: 2;

                        @media (max-width: 1024px) {
                            width: 50%;
                        }

                        @media (max-width: 767px) {
                            width: 100%;
                            height: auto;
                            min-height: 260px;
                        }

                        a {
                            display: flex;
                            flex-direction: column;
                            height: 100%;
                            width: 100%;
                            text-decoration: none;
                            transition: background-color 200ms linear 0ms;

                            .section_9_title {
                                width: 100%;
                                padding: 16px;
                                flex: 1 1 auto;
                                margin: 2px 0px 0px;

                                @media (max-width: 1024px) {
                                    padding: 19px 28px;
                                }

                                p {
                                    font-size: 32px;
                                    line-height: 40px;
                                    font-weight: 600;
                                    transition: color 200ms linear 0ms;
                                }
                            }

                            .section_9_src {
                                width: 100%;
                                display: flex;
                                padding: 16px;
                                flex: 0 0 auto;

                                @media (max-width: 1024px) {
                                    padding: 0px 30px 30px;
                                }

                                .src_icon {
                                    width: 24px;
                                    flex: 0 0 auto;
                                    margin: 0px 16px 0px 0px;

                                    .icon_svg {
                                        width: 20px;
                                        height: 20px;
                                        background-color: blue;
                                    }
                                }

                                .src_name {
                                    -webkit-box-align: center;
                                    align-items: center;
                                    flex: 1 1 auto;
                                }
                            }

                        }
                    }
                }
            }

            .section_9_ul .section_9_li:nth-child(1) {
                background-color: #000;

                p {
                    color: #fff;
                }

                .src_name {
                    color: #fff;
                }
            }

            .section_9_ul .section_9_li:nth-child(2) {
                background-color: rgb(57, 57, 57);

                p {
                    color: #fff;
                }

                .src_name {
                    color: #fff;
                }
            }

            .section_9_ul .section_9_li:nth-child(3) {
                background-color: rgb(118, 118, 118);

                p {
                    color: #000
                }

                .src_name {
                    color: #000;
                }
            }

            .section_9_ul .section_9_li:nth-child(4) {
                background-color: rgb(204, 204, 204);

                p {
                    color: #000
                }

                .src_name {
                    color: #000;
                }
            }
        }

        // section_10
        .section_10 {
            width: 100%;

            .section_10_container {
                width: 1536px;
                margin: 0px auto;

                @include container();

                @media (max-width: 960px) {
                    width: 100%;
                    padding: 0px 30px;
                }

                .section_10_main {
                    width: 100%;

                    .section_10_t {
                        width: 100%;
                        display: flex;
                        padding: 0px 0px 200px;

                        @media (max-width: 960px) {
                            flex-wrap: wrap;
                            padding: 0px;
                        }

                        .section_10_t_l {
                            width: 575px;
                            flex: 0 0 auto;

                            @media (max-width: 1680px) {
                                width: 50%;
                            }

                            @media (max-width: 1024px) {
                                margin: 0px 30px 30px;
                            }

                            @media (max-width: 960px) {
                                width: 100%;
                                margin: 30px 0px;
                            }

                            h2 {
                                font-size: 32px;
                                line-height: 40px;
                                color: #fff;
                                font-weight: 600;
                                padding: 0px 0px 0px 16px;

                                @media (max-width: 1024px) {
                                    padding: 0px;
                                }

                                @media (max-width: 960px) {
                                    font-size: 24px;
                                    line-height: 34px;
                                }
                            }
                        }

                        .section_10_t_r {
                            flex: 1 1 auto;
                            padding: 0px 330px 35px 208px;

                            @media (max-width: 1680px) {
                                width: 50%;
                                padding: 0px 16px 35px;
                            }

                            @media (max-width: 1024px) {
                                padding: 0px 30px 35px;
                            }

                            @media (max-width: 960px) {
                                width: 100%;
                                padding: 0px 0px 35px;
                            }

                            .t_r_title {
                                width: 100%;

                                p {
                                    color: #fff;
                                    font-size: 16px;
                                    line-height: 24px;
                                    font-weight: 600;
                                }
                            }

                            .t_r_src {
                                width: 100%;
                                margin: 70px 0px 0px;

                                @media (max-width: 960px) {
                                    margin: 30px 0px 0px;
                                }

                                a {
                                    display: flex;
                                    width: 100%;
                                    color: #fff;
                                    text-decoration: none;

                                    img {
                                        margin: 0px 16px 0px 0px;
                                    }

                                    span {
                                        font-size: 16px;
                                        font-family: "Segoe UI Mono", mono;
                                        letter-spacing: 0.01rem;
                                        line-height: 1;

                                        @media (max-width: 960px) {
                                            font-size: 12px;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    #footer {
        width: 100%;
        height: 48px;

        @media (max-width: 1024px) {
            height: auto;
            padding: 0px 0px 18px;
        }

        .footer_container {
            display: flex;
            -webkit-box-pack: justify;
            justify-content: space-between;
            width: 1536px;
            margin: 0px auto;

            @include container();

            @media (max-width: 1024px) {
                width: 100%;
                flex-wrap: wrap;
                position: relative;
                padding: 0px 30px;
            }

            @media (max-width: 960px) {
                width: 100%;
                padding: 0px 30px;
            }

            @media (max-width: 670px) {
                width: 100%;
                padding: 10px 30px 0px;
            }

            .footer_logo {
                width: 190px;
                height: 48px;
                display: flex;
                justify-content: flex-start;
                align-items: center;
                flex: 0 0 auto;

                @media (max-width: 1280px) {
                    width: 40px;
                }

                @media (max-width: 1024px) {
                    width: 80px;
                    flex: 0 0 auto;
                }

                .logo_svg {
                    width: 16px;
                    height: 16px;
                    background-color: blue;
                }
            }

            .footer_src {
                height: 48px;
                flex: 1 1 auto;
                padding: 0px 100px 0px 0px;

                @media (max-width: 1024px) {
                    width: 100%;
                    height: auto;
                    flex: 1 1 auto;
                    padding: 0px;
                }

                .footer_src_ul {
                    width: 100%;
                    display: flex;
                    justify-content: space-between;
                    margin: 0px;
                    padding: 0px;
                    list-style-type: none;

                    @media (max-width: 670px) {
                        -webkit-box-pack: start;
                        justify-content: flex-start;
                        flex-wrap: wrap;
                    }

                    .footer_src_li {
                        width: auto;
                        font-size: 12px;
                        line-height: 48px;
                        font-weight: 400;
                        margin: 0px;
                        padding: 0px;

                        @media (max-width: 670px) {
                            line-height: 30px;
                            margin: 0px 20px 0px 0px;
                        }

                        a {
                            color: #fff;
                            text-decoration: none;
                        }
                    }
                }
            }

            .footer_icon {
                display: flex;
                height: 48px;

                @media (max-width: 1024px) {
                    width: 50%;
                    top: 0px;
                    -webkit-box-pack: end;
                    justify-content: flex-end;
                    position: absolute;
                    right: 30px;
                    flex: 1 1 auto;
                    padding: 0px;
                }

                @media (max-width: 500px) {
                    position: relative;
                    width: 100%;
                    -webkit-box-pack: start;
                    justify-content: flex-start;
                    right: auto;
                    left: auto;
                    top: auto;
                    margin: 16px 0px 0px;
                }

                a {
                    width: 48px;
                    height: 48px;
                    display: flex;
                    -webkit-box-pack: end;
                    justify-content: flex-end;
                    -webkit-box-align: center;
                    align-items: center;

                    @media (max-width: 500px) {
                        -webkit-box-pack: start;
                        justify-content: flex-start;
                    }

                    .icon_a {
                        width: 20px;
                        height: 20px;
                        background-color: blue;
                    }
                }
            }
        }
    }
}